.section-about{
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light,0.8),
        rgba($color-primary-dark, 0.8)), 
        url(../img/nat-4.jpg);
    background-size: cover;

    margin-top: -10rem;

    //skew entire section
    transform: skewY(-7deg);

    //Universal selector to select direct child of the .section-features class
    & > * {
        transform: skewY(7deg); //reverse skewed for .row class
    }
 
}

.section-tours{
    background-color: $color-grey-light;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;
} 